@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-serif: "Source Serif 4", serif;
  --font-display: "Big Shoulders Display", sans-serif;
}

@layer base {
  :root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.27),
      1.1px 2.1px 2.2px -3.8px hsl(var(--shadow-color) / 0.18);
    --shadow-elevation-medium: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.37),
      5.3px 10.7px 11.1px -3.8px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-high: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.35),
      2.4px 4.8px 5px -1.3px hsl(var(--shadow-color) / 0.29),
      9.7px 19.3px 20.1px -2.5px hsl(var(--shadow-color) / 0.23),
      28.3px 56.5px 58.8px -3.8px hsl(var(--shadow-color) / 0.17);
  }
}

@layer components {
  [data-book] {
    position: relative;
    container-name: book;
    container-type: inline-size;
    --book-color: var(--book-color, #ccc);
    --cover-width: clamp(64px, 18cqi, 140px);

    @apply bg-white px-6 sm:pr-12 rounded-sm relative;

    border-top: 1.5rem solid var(--book-color);
    background-image: linear-gradient(
      to bottom,
      color-mix(in srgb, var(--book-color) 15%, transparent),
      transparent 45%
    );
    border-radius: 0.25rem;
    box-shadow: var(--shadow-elevation-medium);
    display: grid;
    justify-items: start;
    grid-template-columns: var(--cover-width) 1fr;
    grid-template-rows: minmax(2rem, auto) minmax(6rem, 1fr) auto;
    column-gap: 0.75rem;
    min-height: 10em;
    padding-block: 1.5rem;

    .book-author {
      /*text-lg font-serif font-semibold leading-snug*/
      font-size: clamp(14px, 5cqi, 17px);
      font-weight: 600;
      font-family: "Source Serif 4";
      line-height: 1.08;
    }

    .nameplate {
      /*padding-inline-start: calc(var(--cover-width));
      overflow-x: hidden;*/
      /*display: contents;
      & > * {
        grid-column: 2;
      }*/
      grid-row: 1 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h3 {
      font-family: "Big Shoulders Display";
      text-transform: uppercase;
      text-wrap: balance;
      letter-spacing: -0.02em;
      line-height: 1;
      border-width: 1px 0;
      border-style: solid;
      border-color: color-mix(in srgb, currentColor, transparent 50%);
      padding-block: 0.2em;
      margin-block-end: 0.5lh;
      font-size: clamp(2.125rem, 10cqi, 2.65rem);

      /*[font-family:] leading-none text-balance uppercase font-semibold self-start pr-6 border-t border-b pt-2 pb-1 border-current tracking-[-0.5px] [word-spacing:-2px] mb-3*/
    }

    [data-book-cover] {
      @apply shadow-md inline-block rounded-lg overflow-hidden aspect-[3/4.6] mb-8;

      left: 0.75rem;
      top: 0.75rem;
      grid-row: 1 / span 2;

      @container book (min-width: 500px) {
        grid-row: 1 / span 3;
        /*transform: rotate(45deg);*/
      }

      @media (min-width: 768px) {
        transform: translateX(-40px);
        margin-right: -30px;
      }
    }
  }
}
