---
import "@fortawesome/fontawesome-svg-core/styles.css";

import _ from "lodash";
import { getCollection } from "astro:content";
import BookCard from "../components/book-card.astro";

import logomark from "../images/authors-together-logomark.svg?raw";
import icon from "../images/olive-starburst-icon@2x.png";
import { getSpectrum } from "../lib/spectrum";

const books = await getCollection("books");

const sortedColors = await getSpectrum();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={icon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <title>Authors United</title>
    <style define:vars={{ colorVars: sortedColors }}>
      :root {
        --color-1: var(--color-vars);
      }

      header,
      footer {
        position: relative;
      }

      header:before,
      footer:after {
        position: absolute;
        inset: 0;
        content: "";
        display: block;
        height: 20px;
        width: 100%;
        background-image: linear-gradient(
          to right,
          var(--colorVars)
        ) !important;
      }

      footer:after {
        top: unset;
        bottom: 0;
      }
    </style>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="WXBPBNOP" defer
    ></script>
    <!-- / Fathom -->
  </head>
  <body class="font-sans bg-zinc-200 text-zinc-900 antialiased">
    <header class="bg-white flex items-center px-8 py-4">
      <h1
        class="text-2xl/none uppercase tracking-wider py-4 font-serif font-semibold mt-12">
        <div
          aria-hidden="true"
          class="*:w-full *:h-auto max-w-sm h-auto"
          set:html={logomark}
        />
        <span class="sr-only">Authors United</span>
      </h1>
    </header>

    <div
      class="px-8 py-8 grid grid-cols-1 md:grid-cols-[1fr_1fr] lg:grid-cols-[1fr_2fr] gap-12">
      <div class="font-serif *:max-w-prose flex flex-col gap-4 pr-12">
        <h2 class="font-display uppercase text-2xl/none font-semibold tracking">
          About this site
        </h2>
        <p>
          In 2024, A Book Apart closed its doors after publishing a much-loved
          collection of more than 50 brief books for people who make websites.
          The rights to each book have reverted to the authors — hi, that's us —
          and we've put together this semi-official directory to help you find
          our books in their new homes.
        </p>
        <p>
          This site's source code is available on <a
            href="https://github.com/bitsandletters/authors-united"
            class="underline decoration-zinc-400 underline-offset-2">GitHub</a
          >.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-8 md:gap-12 lg:grid-cols-2">
        {books.map((book) => <BookCard book={book} />)}
      </div>
    </div>
    <footer class="px-8 py-12 text-zinc-500 flex gap-8 justify-end">
      <p>
        Site by <a
          href="https://bitsandletters.co/?utm_source=authors-together&utm_medium=affiliate&utm_campaign=bnl"
          class="underline decoration-zinc-400 underline-offset-2"
          >Bits&amp;Letters</a
        >
      </p>
    </footer>
  </body>
</html>
