---
import { getCollection } from "astro:content";
import BookCard from "../components/book-card.astro";

const authors = await getCollection("authors");
const books = await getCollection("books");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <title>Authors United</title>
  </head>
  <body class="font-sans bg-zinc-200 text-zinc-900 antialiased">
    <header class="bg-white flex items-center px-8 py-4">
      <h1
        class="text-2xl/none uppercase tracking-wider py-4 font-serif font-semibold mt-12">
        Authors United
      </h1>
    </header>

    <div
      class="px-8 py-8 grid grid-cols-1 md:grid-cols-[1fr_1fr] lg:grid-cols-[1fr_2fr] gap-12">
      <div class="font-serif *:max-w-prose flex flex-col gap-4 pr-12">
        <p>
          In 2024, A Book Apart closed its doors after publishing a much-loved
          collection of more than 50 brief books for people who make websites.
        </p>
        <p>
          The rights have reverted to the authors — hi, that's us — and many of
          us have self-published new editions of their books, put the originals
          up to read online or download for free, or both.
        </p>
        <p>
          Here you'll find a list of all our books, with links to where you can
          read or download them, or get information on where to buy the new
          editions. As more titles are republished, we'll add them to the list.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-8 md:gap-12 lg:grid-cols-2">
        {books.map((book) => <BookCard book={book} />)}
      </div>
    </div>
    <footer class="px-8 py-12 text-zinc-500 flex gap-8 justify-end">
      <p>
        Site by <a
          href="https://bitsandletters.co/"
          class="underline decoration-zinc-400 underline-offset-2"
          >Bits&amp;Letters</a
        >
      </p>
    </footer>
  </body>
</html>
