---
import type { CollectionEntry } from "astro:content";

export type Props = {
  author: CollectionEntry<"authors">;
};

const { author } = Astro.props as Props;
---

<div>
  <p class="text-lg font-serif font-semibold">{author.data.name}</p>
</div>
